%link{"rel" => "stylesheet", "href" => "/stylesheets/list-master.css", "type" => "text/css"}
%link{"rel" => "stylesheet", "href" => "/stylesheets/#{@list['schematic']}.css", "type" => "text/css"}

.list
  .header
    .name #{@list['description']}
    .schematic Schematic: #{@list['schematic']}
  - haml_from_list(@list)
  .footer
    .total-label
      Total (points)
    .cost
      300
