html, body {
  height: 100%;
}

h2 {
  margin: 0.2em;
}

.input {
  float: left;
  padding: 0;
  width: 45%;
  height: 80%;
  margin: 0em 0.5em;
}

.input .tabs {
  height: 80%;
}

.input .tab {
  height: 70%;
}

.text-editor-form {
  height: 100%;
}

textarea {
  font-family: monospace;
  font-size: 1em;
  width: 100%;
  height: 80%;
  display: block;
}

.emitted_data {
  float: left;
  margin: 0em 0.5em;
  width: 45%;
}

pre {
  margin: 0;
  padding: 0;
}

.list-tree {
  clear: both;
}

.list-tree .leaf .name {
  margin-right: 1em;
  padding-right: 0.25em;
  border-right: 0.1em solid gray;
}

.list-tree form {
  float: none;
  display: block;
  font-size: 0.8em;
}

.tab {
  display: none;
}

.tab:first-child {
  display: block;
}

button.delete {
  text-indent: -9999px;
  background: none;
  background-image: url(/images/red_x.jpeg);
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.list-tree li {
  list-style: none;
}

.list-tree ul {
  padding-left: 0;
}

.list-tree ul ul {
  padding-left: 2em;
}

.list-tree .branch .add-leaf,
.list-tree .branch .add-branch,
.list-tree .branch .add-list {
  padding-left: 2em;
}
