.list {
  color: #333;
}

.unit {
  background-color: #eef;
}

.unit .node_type {
  font-size: 18px;
}

.model .sequence {
  background-color: #efe;
}

.sequence-label {
  background-color: none;
}

.gear .sequence {
  background-color: #eee;
}

.gear .sequence {
  background-color: #eee;
}

.name {
  font-weight: bold;
}

.special_rule {
  display: inline;
}

.rank {
  display: inline;
}
