.list {
  color: #333;
}

.unit {
  background-color: #eef;
  clear: both;
}

.model {
  background-color: #efe;
}

.special_rule .node_type {
  display: inline;
  font-size: 12px;
}

.gear .node_type {
  display: inline;
  font-size: 12px;
}
.nature .node_type {
  display: inline;
  font-size: 12px;
}

.rank .node_type {
  display: inline;
  font-size: 12px;
}

.weapon .node_type {
  display: inline;
  font-size: 12px;
}
