.list {
  color: #333;
}

.unit {
  background-color: #eef;
}

.unit .node-type {
  font-size: 18px;
}

.special_rule .node-type {
  font-size: 12px;
}

.special_rule .sequence {
  display: none;
}

.model .sequence {
  display: none;
  background-color: #efe;
}

.sequence-label {
  background-color: none;
}

.gear .sequence {
  background-color: #eee;
}

.rank .sequence {
  background-color: #eee;
  display: none;
}

.nature .sequence {
  background-color: #eee;
  display: none;
}

.weapon .sequence {
  background-color: #eee;
  display: none;
}

.name {
  font-weight: bold;
}

.special_rule {
  display: inline;
}

.rank {
  display: inline;
}
